html {
    scroll-behavior: smooth;
}

p a {
    color: rgb(33, 37, 41);
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    color: rgb(33, 37, 41);
    text-decoration: underline;
}
